<mat-toolbar class="header">
    <mat-toolbar-row>
        <span class="titre">LISTE DES CHANTIERS</span>
        <div class="space-filler"></div>
        <span class="search">
            <input class="search-input" [(ngModel)]="search" placeholder="Nom, ville, code postal..." type="search" aria-label="Chantier">
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="body" (window:resize)="onResize($event)">
    <div class="desktop">
        <mat-card class="search-card">
            <mat-card-title>
                <b>Recherche</b>
            </mat-card-title>
            <mat-card-content>
                <mat-form-field>
                    <input [(ngModel)]="search" matInput type="search" placeholder="Nom, ville, code postal..." aria-label="Chantier">
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
    <div #scrollingBlock class="content">
        <div class="contSpin" *ngIf="spinnerVisible">
            <mat-spinner strokeWidth="2.6" diameter="42"></mat-spinner>
        </div>
        <mat-accordion class="firstAccordion">
            <div class="column" *ngIf="actualWidth >= 1200">
                <app-chantier-card #target [chantier]="chantier" *ngFor="let chantier of (chantiers | chantierSearch : search); trackBy: trackByName">
                </app-chantier-card>
            </div>

            <!-- Virtual scroll uniquement pour les téléphones -->
            <virtual-scroll *ngIf="actualWidth < 1200" #scroll class="mobile"
                [items]="(chantiers | chantierSearch : search)"
                [childHeight]="48"
                [enableUnequalChildrenSizes]="true">

                <app-chantier-card
                    [chantier]="chantier"
                    *ngFor="let chantier of scroll.viewPortItems">
                </app-chantier-card>
            </virtual-scroll>

        </mat-accordion>

    </div>
</div>