/*
.contSpin {
    display: flex;
    justify-content: center;
}

.contSpin.invisible {
    display: none;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.container {

} */
.contenu {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

app-accueil-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: black;
}

a {
    display: block;
}

@media screen and (max-width: 800px) {
    .contenu {
        margin-top: 80px;
    }
}



/* .mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
} */

