mat-expansion-panel {
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}



mat-expansion-panel-header {
    display: flex;
}

#texteHeader {
    width: 100%;
}

mat-panel-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0; 
}

mat-panel-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;   
    text-align: end;
    max-height: 37px;
    white-space: nowrap;
}

mat-expansion-panel-actions { display: flex }
.missDeb { justify-content: flex-start }
.missFin { justify-content: flex-end }
.missTerm { justify-content: center }

mat-expansion-panel-title .titleElem {
    font-weight: bolder;
}

mat-expansion-panel-subtitle {
    margin-bottom: 9px;
}

mat-expansion-panel-content {
    margin-bottom: 7px;
}

.description {
    width: 100%;
    height: 100%;
    /* align-content: flex-start;
    align-items: baseline; */
}

.map {
    width: 100%;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

mat-action-row {
    padding: 0;
}

.boutonDemarrer {
    width: 100%;
    height: 80%;
    padding: 0;
    margin: 5px;
    font-size: 12px;
}

.droite {
    display: flex;
    justify-content: flex-end;   
}
mat-card-content {
    display: flex;
    justify-content: flex-end;     
}

mat-icon {
    margin-right: 5px;
}

p {
    display: inline-flex;
    margin-top: 0px;
}


/*Responsive*/
/* gestion largeur */
@media screen and (max-width: 600px) {   
    mat-panel-description {
        display: none;
    }

    .desktop {
        display: none;
    }
}

@media screen and (min-width: 600px) {   
    .adresse {
        display: none;
    }

    .mobile {
        display: none;
    }
}

/* gestion hauteur */
/* @media screen and (max-height: 650px), screen and (max-width: 250px) {   
    mat-expansion-panel { margin-bottom: 0px }
    mat-expansion-panel-subtitle { margin-bottom: 0px }    
    mat-expansion-panel-content { margin-bottom: 0px }
}

@media screen and (max-height: 420px), screen and (max-width: 250px) {   
    mat-expansion-panel-subtitle { margin-bottom: 0px }    
    mat-expansion-panel-content { margin-bottom: 0px }
} */