<div (window:resize)="onResize($event)">
    <mat-expansion-panel class="desktop" (opened)="getMapSrc()" *ngIf="actualWidth > 599">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{chantier.nom | uppercase}}
            </mat-panel-title>
            <mat-panel-description>
                {{chantier.adr1}} {{chantier.adr2}} {{chantier.adr3 }}
                <br> {{chantier.cp}} {{chantier.ville}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="60px">
            <mat-grid-tile [colspan]="2" [rowspan]="5">
                <div class="description">
                    <div>
                        <mat-icon>home</mat-icon>
                        <p>
                            {{chantier.adr1}} {{chantier.adr2}} {{chantier.adr3 }}
                            <br> {{chantier.cp}} {{chantier.ville}}
                        </p>
                    </div>
                    <div>
                        <mat-icon>person</mat-icon>
                        <p>
                            <!-- {{chantier.codecli}} : {{chantier.nomcli}} -->
                            {{chantier.nomcli}}
                        </p>
                    </div>
                    <div *ngIf="chantier.tel1 || chantier.tel2">
                        <mat-icon>phone</mat-icon>
                        <p>
                            {{chantier.tel1}}
                            <br *ngIf="chantier.tel1"> {{chantier.tel2}}
                        </p>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="5">
                <div class="map">
                    <iframe *ngIf="lien" [src]="sanitizer.bypassSecurityTrustResourceUrl(lien)" allowfullscreen>
                    </iframe>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="5" [rowspan]="1">
                <button class="boutonDemarrer" mat-button color="white" type="button" (click)="demarrerIntervention()">
                    <mat-icon>drive_eta</mat-icon>
                    <span> {{ "Démarrer un intervention" | uppercase }} </span>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="mobile" *ngIf="actualWidth < 601">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{chantier.nom | uppercase}}
            </mat-panel-title>
            <mat-panel-description>
                {{chantier.adr1}} {{chantier.adr2}} {{chantier.adr3 }}
                <br> {{chantier.cp}} {{chantier.ville}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="description">
                <div>
                    <mat-icon>home</mat-icon>
                    <p>
                        {{chantier.adr1}} {{chantier.adr2}} {{chantier.adr3 }}
                        <br> {{chantier.cp}} {{chantier.ville}}
                    </p>
                </div>
                <div>
                    <mat-icon>person</mat-icon>
                    <p>
                        {{chantier.nomcli}}
                    </p>
                </div>
                <div *ngIf="chantier.tel1 || chantier.tel2">
                    <mat-icon>phone</mat-icon>
                    <p>
                        {{chantier.tel1}}
                        <br *ngIf="chantier.tel1"> {{chantier.tel2}}
                    </p>
                </div>
            </div>
            <mat-action-row>
                <a class="boutonDemarrer" mat-button color="white" type="button" (click)="voirCarte()">
                    <mat-icon>map</mat-icon>
                    <span> {{ "carte" | uppercase }} </span>
                </a>

                <a class="boutonDemarrer" mat-button color="white" type="button" (click)="demarrerIntervention()">
                    <mat-icon>drive_eta</mat-icon>
                    <span> {{ "intervention" | uppercase }} </span>
                </a>

            </mat-action-row>

        </ng-template>
    </mat-expansion-panel>
</div>