mat-toolbar-row {
    height: 62px;
    display: flex;
    flex-wrap: wrap;
}

.titre {
    flex: 1;
}

.header {
    background-color: black;
    color: #FDF048;
}

.body {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.card {
    align-content: center;
    width: 50%;
    margin: 10px;
}
