.docs-navbar .docs-navbar-link {
    text-decoration: inherit;
    flex: 1;
}

.flex-spacer {
    flex-grow: 1;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after {
    margin: 0;
}

.large-header {
    background: #FFF200;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 8px 16px; */
}

.small-header {
    background: #FFF200;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.small-header a {
    width: 33%;
    text-align: center;
    padding: 0;
    font-size: 13px;
}

@media screen and (max-width: 800px) {   
    .large-header {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .small-header {
        display: none;
    }

    .second-header {
        display: none;
    }

    .mobile {
        display: none;
    }

}
