<div #element class="card">
    <mat-accordion>
        <mat-expansion-panel (opened)="scrollIntoView()" class="enCours">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{intervention.nom | uppercase}}
                </mat-panel-title>
                <mat-panel-description>
                    {{intervention.dateinter | dateTime | date : 'shortDate'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <h3>Informations</h3>
            <div class="description">
                <div>
                    <mat-icon>home</mat-icon>
                    <p class="ligne">
                        {{intervention.adr1}} {{intervention.adr2}} {{intervention.adr3 }}
                        <br> {{intervention.cp}} {{intervention.ville}}
                    </p>
                </div>
                <div *ngIf=intervention.dateappel>
                    <mat-icon>watch</mat-icon>
                    <p class="ligne">
                        Appelé à {{intervention.dateappel | dateTime | date : 'mediumTime'}}
                    </p>
                </div>
                <div *ngIf=intervention.datearrive>
                    <mat-icon>watch</mat-icon>
                    <p class="ligne">
                        Arrivé à {{intervention.datearrive | dateTime | date : 'mediumTime'}}
                    </p>
                </div>
                <div *ngIf=intervention.datedepart>
                    <mat-icon>watch</mat-icon>
                    <p class="ligne">
                        Parti à {{intervention.datedepart| dateTime | date : 'mediumTime'}}
                    </p>
                </div>
            </div>
        </mat-expansion-panel>
        <div class="action" *ngIf="intervention.statut == '1' || intervention.statut == '2'">
            <button class="button" mat-raised-button (click)="ouvrirCarte()"> Ouvrir la carte</button>
        </div>
    </mat-accordion>

    <div class="actions" [ngSwitch]="true">
        <div class="action">
            <button class="button" mat-raised-button (click)="arrive()" *ngSwitchCase="intervention.statut == '1'">
                <mat-spinner *ngIf="chargement" class="spinnerAtt" strokeWidth="2.6" diameter="26"></mat-spinner>
                <span *ngIf="!chargement">Début de l'intervention</span>
            </button>
            <button class="button" mat-raised-button (click)="depart()" *ngSwitchCase="intervention.statut == '2'">
                <mat-spinner *ngIf="chargement" class="spinnerAtt" strokeWidth="2.6" diameter="26"></mat-spinner>
                <span *ngIf="!chargement">Fin de l'intervention</span>
            </button>
            <button class="button" mat-raised-button (click)="ouvrirFormulaire()" *ngSwitchCase="intervention.statut == '2' || intervention.statut == '3'">
                <mat-spinner *ngIf="chargement" class="spinnerAtt" strokeWidth="2.6" diameter="26"></mat-spinner>
                <span *ngIf="!chargement">Ouvrir le formulaire </span>
            </button>
        </div>
    </div>
</div>