

.containerCentre, .containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;

    padding: 0;
}

.containerCentre > *, .containerForm > * {
    width: 100%;
}

.logo img {
    width: 100px;
    height: 100px;
    min-width: 60px;
    margin: 10px;
}

.containerCentre {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    padding: 0 1%;
    background-color: rgba(255, 255, 255, 0.6);
}

form button {
    margin-top: 1%;
    width: 82%;
    max-width: 390px;
}

.titre h2 {
    color: black;
    font-size: 20px;
    vertical-align: center;
}

mat-icon {
    color: black;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre { margin-bottom: .8em }
h2, h3, h4 {
    text-align: center;
    margin-bottom: 1px;
}
h3, h4 { margin-top: 1px }

mat-form-field {
    margin-bottom: 1%;
}

.spinnerAtt { margin: 5px 0 }

.btAutValide {
    display: flex;
    justify-content: center;
    background-color: yellow;
    color: black;
    margin: 20px;
}

.alert-danger{
    padding:15px;
    margin-bottom:20px;
    border:1px solid transparent;
    border-radius:4px;
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
    max-width: 390px;
}


/*Responsive*/

/* gestion hauteur */
@media screen and (max-height: 580px) { .titre { margin-bottom: .7em } }
@media screen and (max-height: 520px) { .titre { margin-bottom: .5em } }
@media screen and (max-height: 420px) { .titre { margin-bottom: .4em } }
