<div class="contenu" >
    <div class="containerCentre">
        <form  (ngSubmit)="onSubmit()" class="containerForm">

            <div class="logo">
                <img alt="DAT Security" src="..\..\assets\icons\DAT Security.png" alt="icon" />
            </div>

            <div class="titre">
                <h2>
                    Authentification de {{login.value}}
                </h2>
            </div>

            <mat-form-field>
                <input [formControl]="login" placeholder="Login utilisateur" #loginText
                        matInput autocomplete="off" required autofocus/>
                <mat-icon tabindex="-1" aria-label="Effacer" matSuffix (click)="loginText.value = ''">close</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <input [formControl]="mdp" placeholder="Mot de passe"
                         matInput required [type]="mdpVisible ? 'text' : 'password'" />
                <mat-icon tabindex="-1" matSuffix (click)="mdpVisible = !mdpVisible">{{mdpVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <button type="submit" mat-raised-button title="S'authentifier" class="btAutValide">
                <mat-spinner *ngIf="spinnerVisible" class="spinnerAtt" strokeWidth="2.6" diameter="26"></mat-spinner>
                <span *ngIf="!spinnerVisible">VALIDER</span>
            </button>
        </form>
    </div>
</div>