<div class="containerCentre">
    <form (ngSubmit)="onSubmit()" #authentif="ngForm" class="containerForm">

        <div class="Logo">
            <img src="../../favicon.ico" alt="icon"/>  
        </div>

        <div class="Titre">
          <h2>Authentification</h2>
        </div>

        <mat-form-field>
            <input tabindex="1" (keyup.enter)="onSubmit()" matInput required [formControl]="login" [(ngModel)]="auth.loginuser" name="zsLogin" placeholder="Login utilisateur" autofocus/>
            <button tabindex="100" mat-button *ngIf="auth.loginuser" matSuffix mat-icon-button aria-label="Effacer" (mouseup)="auth.loginuser=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="login.invalid">{{getErrorMessageLogin()}}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input tabindex="2" (keyup.enter)="onSubmit()" (keyup)="saisieMdp()" matInput required [formControl]="mdp" [(ngModel)]="auth.motdepasseUt" [type]="cacheMdp ? 'password' : 'text'" name="zsMotdepasse" placeholder="Mot de passe"/>
            <mat-icon matSuffix (click)="cacheMdp = !cacheMdp">{{cacheMdp ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="mdp.invalid">{{getErrorMessageMdp()}}</mat-error>
        </mat-form-field>

        <button tabindex="10" type="submit" mat-raised-button title="S'authentifier" class="btAutValide">
            <mat-spinner class="spinnerAtt" *ngIf="spinnerVisible" strokeWidth="2.6" diameter="26"></mat-spinner>
            <span *ngIf="!spinnerVisible">Valider</span>
        </button>

    </form>
</div>

<p>
  connexion works!
</p>
